@use "../sass/base.scss" as var1;

// CONTAINER
.container {
  max-width: 60rem;
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 3.5rem;
  margin: 15rem;
  box-shadow: 0 2px 30px 10px rgba(93, 3, 107, 0.139);
  //MEDIA-QUERIES
  @media only screen and (max-width: var1.$bp-small) {
    margin: 20rem 2.5rem 10rem 2.5rem;
  }
  &__heading {
    &--star {
      height: 3.5rem;
      margin-right: 1rem;
    }
    &--txt {
      font-size: 5rem;
      font-weight: 700;
    }
    margin-bottom: 2.5rem;
  }
}

.list {
  list-style: none;
  &__item {
    &:hover,
    &:focus {
      .list__item--questions__question {
        cursor: pointer;
        color: rgb(150, 22, 210);
      }
    }

    &--questions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 3rem;
      &__question {
        font-size: 1.8rem;
        font-weight: 700;
      }
      &__icon {
        height: 2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &--answer {
      margin-top: 2rem;
      color: var(--color-text);
    }
  }
}
//HIDING CONTENT CLASS
.hide {
  display: none;
}
